*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #fffccf !important;
    box-sizing: border-box;
}

section{
    border: 1px solid red;    
}
#sec1{
    padding: 20px;
    font-size: 25px;
    background-color: white;
    border: 0px solid black;
    border-bottom-width: 1px;
}
#sec2{
    /* height: 80vh; */
}

nav{
    margin-left: 8em;
}

nav a:hover {
    text-shadow: 1px 1px 5px red;
    color: black;
}

nav a{
    margin:3em 1em;
    text-decoration: none;
    color: rgb(118, 118, 118);
}

h1{
    text-align: center; 
    margin:10px;
    font-size:2.5em;
    text-shadow: 2px 2px 3px gray;
}

#input-container{
    background-color: white;
    /* height: 100vh; */
    width: 80%;
    border:2px solid rgb(118, 118, 118);
    margin:0 auto;
    border-radius: 10px;
}

select,option{
    cursor: pointer;
}

/* button{
    background-image: linear-gradient(#ff8282, #fffa77);
    color:black !important;
    font-weight: bold !important;
} */

td button{
    /* backgr?? black !important; */
    border: 0px ;
}